@model IEnumerable<BarC.Models.Usuario>

@{
    ViewData["Title"] = "IndexU";
    Layout = "~/Views/Shared/_MenuUsuario.cshtml";
}

<h1 class="titulos"> MI USUARIO </h1>


<table class="table">
    <thead>
        <tr>
            <th>
                NOMBRE
            </th>
            <th>
                APELLIDO
            </th>
            <th>
                DNI
            </th>
            <th>
                EDAD
            </th>
            <th>
                EMAIL
            </th>
            <th>
                ROL
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DNI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Edad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    <a class="btn btn-outline-warning  btn-sm " asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-warning btn-lg" href="@Url.Action("Homebar", "Home")">Inicio</a>
